Package: dbus-ne-shunt
Version: 1.0.1
Description: Adds support for NordElectronica shunt NE196/NE319 board to Venus-OS
Section: utilities
Priority: optional
Maintainer: thespinmaster@github.com
License: MIT
Architecture: all
OE: dbus-ne-shunt
Source: https://github.com/thespinmaster/venus-os-configuration/tree/main/feed/dbus-ne-shunt
Depends: python3
