Package: mod-persist
Version: 1.0.0
Description: User modification persistence utility package
 User modification persistence utility package
Section: utilities
Priority: optional
Maintainer: Lucien Denisey <ldenisey@gmail.com>
License: MIT
Architecture: all
OE: mod-persist
Source: https://github.com/ldenisey/venus-os-configuration/tree/main/feed/mod-persist
Depends: opkg
