Package: test-service
Version: 1.0.0
Description: A simple service for testing
Section: utilities
Priority: optional
Maintainer: thespinmaster@github.com
License: MIT
Architecture: all
OE: einstine
Source: https://github.com/thespinmaster/venus-os-configuration/raw/refs/heads/main/feed/test-service
Depends: python3
